.actions-cat{
    position: fixed;
    bottom: 0;
    width: 100%;
    gap:10rem;
    z-index:10;
}

.mg-top-nav{
    margin-top: 2rem;
}

.actions-icon{
    background-color:var(--yellowGold);
    color:var(--light-red);
    padding:1rem;
    border-radius:100%;
}

.actions-name{
    color:var(--light-red);
}